@import 'variables.scss';

.contact-bg
{
	@include container1(100%,100vh);
	background: $complementary;
	box-shadow: inset 200px 0px 100px #003925;
	img
	{
		@include container2(100%,100%);
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		transform: scaleX(-1);
		mix-blend-mode: soft-light;
		filter: brightness(0.5);
	}
	.contact
	{
		@include container(1200px,100vh);
		display: grid;
		grid-template-columns: repeat(auto-fit,450px);
		grid-auto-rows: 520px;
		justify-content: space-between;

		.contact-main-content-bx
		{
			padding: 2em 1em;
			h1
			{
				font-size: $h1;
				color: $dominant;
				margin-bottom: 0.5em;
			}
			p
			{
				font-size: $p3;
				font-weight: lighter;
				color: $dominant;
			}
			.contact-content-bx
			{
				width: 100%;
				.contact-link
				{
					margin: 3em 0;
					@include flex(flex-start,center,row,nowrap);
					i
					{
						width: 10%;
						color: $accent;
						font-size: $h2;
					}
					p
					{
						width: 90%;
						font-size: $p2;
						font-weight: bold;
					}
				}
			}
		}
		.contact-secondary-content-bx
		{
			padding: 0 2em;
			background: $complementary;
			.contact-input-bx
			{
				@include flex(center,flex-start,column,nowrap);
				margin: 2em 0;
				label
				{
					margin-bottom: 0.5em;
					font-weight: bold;
					font-size: $p2;
					color: $dominant;
				}
				input,textarea
				{
					width: 100%;
					font-size: $p2;
					padding: 0.5em;
					border: none;
					outline: none;
				}
			}
			button
			{
				@extend .btn-global;
				padding: 0.5em;
			}
		}
	}
}

@media(max-width: 1110px)
{
	.contact-bg
	{
		.contact
		{
			grid-template-columns: repeat(auto-fit,100%);
			grid-template-rows: 325px 450px;
			.contact-main-content-bx
			{
				padding: 1em 0;
				.contact-content-bx
				{
					.contact-link
					{
						margin: 2em 0;
					}
				}
			}
			.contact-secondary-content-bx
			{
				width: 50%;
				.contact-input-bx
				{
					margin: 1.5em 0;
				}
			}
		}
	}
}

@media(max-width: 768px)
{
	.contact-bg
	{
		.contact
		{
			grid-template-rows: 350px 450px;
			.contact-secondary-content-bx
			{
				width: 70%;
				display: block;
				button
				{
					margin: 0;
				}
			}
		}
	}
}

@media(max-width: 600px)
{
	.contact-bg
	{
		.contact
		{
			grid-template-columns: repeat(auto-fit,100%);
			grid-template-rows: 375px 450px;
			.contact-secondary-content-bx
			{
				width: 100%;
				padding: 0 1em;
			}
		}
	}
}

@media(max-width: 375px)
{
	.contact-bg
	{
		.contact
		{
			padding: 2.5em 1.5em;
			grid-template-rows: 400px 440px;
		}
	}
}

