@import 'variables.scss';
.testimonials-bg
{
	@include container1(100%,100vh);
	.testimonials
	{
		@include container(1200px,100vh);
		.testimonials-header
		{
			margin-bottom: 2em;
			h1
			{
				font-size: $h1;
			}
		}
		.testimonials-content-grid
		{
			display: grid;
			grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
			grid-auto-rows: 650px;
			grid-gap: 1.5em;
			.testimonials-content-bx
			{
				
				background: #e9e8e8;
				padding: 1em;
				box-shadow: 1px 1px 5px rgba(0,0,0,0.2);

				&:nth-of-type(2)
				{
					grid-column: span 2;
				}
				.testimonials-content-header
				{
					width: 100%;
					@include flex(space-between,center,row,nowrap);
					.testimonials-content-username
					{
						display: flex;
						align-items: center;
						font-size: $p2;
						img
						{
							@include container2(40px,40px);
							object-fit: cover;
							margin-right: 1em;
							border-radius: 50%;
						}
					}
				}
				.testimonials-img-bx
				{
					height: 60%;
					position: relative;
					margin: 1em 0;
					img
					{
						@include container2(100%,100%);
						object-fit: cover;
						object-position: bottom center;
					}
					video
					{
						@include container2(100%,100%);
						object-fit: cover;
						outline: none;
						&::-webkit-media-controls {
							display: none;
						}
					}
					.video-btn
					{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						cursor: pointer;
						background: transparent;
						outline: none;
						border: none;
						i
						{
							font-size: 5em;
							color: $accent;
						}
						
					}
				}
				.testimonials-content-btn
				{
					width: 100%;
					@include flex(space-between,center,row,nowrap);
					margin: 1.5em 0;
					.testimonials-btn-left
					{
						@include flex(center,center,row,nowrap);
						i
						{
							font-size: $p2;
							margin-right: 1em;
						}
					}
				}
				.testimonials-txt-bx
				{
					font-size: $p3;
					.testimonials-txt-upper
					{
						width: 100%;
						@include flex(space-between,center,row,nowrap);
						margin-bottom: 1.5em;
						p:nth-of-type(1)
						{
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}

@media(max-width:1050px)
{
	.testimonials-bg
	{
		.testimonials
		{
			.testimonials-content-grid
			{
				.testimonials-content-bx
				{

					&:nth-of-type(2)
					{
						grid-column: span 1;
					}
					
				}
			}
		}
	}
}

@media(max-width:710px)
{
	.testimonials-bg
	{
		.testimonials
		{
			.testimonials-content-grid
			{
				grid-auto-rows: 500px;
				.testimonials-content-bx
				{
					.testimonials-img-bx
					{
						height: 50%;
					}
					&:nth-of-type(1)

					{
						.testimonials-img-bx
						{
							img
							{
								object-position: center center;
							}
						}
					}
					&:nth-of-type(3)
					{
						.testimonials-img-bx
						{
							img
							{
								object-position: center center;
							}
						}
					}
				}
			}
		}
	}
}

@media(max-width:425px)
{
	.testimonials-bg
	{
		.testimonials
		{
			.testimonials-content-grid
			{
				grid-auto-rows: 550px;
			}
		}
	}
}

@media(max-width: 375px)
{
	.testimonials-bg
	{
		.testimonials
		{
			padding: 2.5em 1.5em;
		}
	}
}

@media(max-width: 320px)
{
	.testimonials-bg
	{
		.testimonials
		{
			.testimonials-content-grid
			{
				grid-template-columns: repeat(auto-fit,100%);
			}
		}
	}
}